<div class="contacts-container">
  <div class="contacts-card">
    <h2>Контактная информация</h2>

    <p>
      <strong>Заведующий кафедрой:</strong>
      <a href="https://ssau.ru/staff/368638-kavelenova-lyudmila-mikhaylovna" target="_blank" rel="noopener">
        Кавеленова Людмила Михайловна
      </a>
    </p>

    <p><strong>Должность:</strong> доктор биологических наук, профессор</p>

    <div class="contact-block">
      <h3>Адрес:</h3>
      <p> 443011, г. Самара, ул. Академика Павлова, 1. Самарский университет, корпус 22б, каб. 311
      </p>
    </div>

    <div class="contact-block">
      <h3>Телефон:</h3>
      <p>(846) 334-54-43</p>
    </div>
  </div>
</div>